/* style.css */

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
}
html {
    position: relative;
}
body {
    background: #000000;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.contact p {
    font-size: 1.2em;
}

.contact-icon {
    font-size: 5em;
}

a.a-icon,
a.a-icon:hover,
a.a-icon:focus {
    color: inherit;
}

/* page styles and animation */
.page {
    background: #000000;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
}

.page.ng-enter {
    -webkit-animation: fadeIn 0.5s both ease-in;
    -moz-animation: fadeIn 0.5s both ease-in;
    animation: fadeIn 0.5s both ease-in;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.page.ng-leave {
    -webkit-animation: fadeOut 0.5s both ease-in;
    -moz-animation: fadeOut 0.5s both ease-in;
    animation: fadeOut 0.5s both ease-in;   
}

/* navbar styles */
.navbar-default {
    z-index: 9999;
    background-color: #000000;
    border-color: #000000;
}
.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background: #FFFFFF;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background: #000000;
}

.navbar-default .dropdown-menu {
    padding: 0;
}
.navbar-default .dropdown-menu li > a,
.navbar-default .dropdown-menu li > a:hover,
.navbar-default .dropdown-menu li > a:focus {
    background: #222222;
    color: #FFFFFF;
}

/* footer styles */
.footer {
    background: #222222;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 1.1em;
}

