/* style.css */

html {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    height: 100%;
    background: #000000;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.contact p {
    font-size: 1.2em;
}

.contact-icon {
    font-size: 3em;
    margin: 5px 10px;
}

a.a-inherit,
a.a-inherit:hover,
a.a-inherit:focus {
    color: inherit;
}

/* page styles and animation */
.page {
    display: table;
    background: #000000;
    color: #FFFFFF;
    min-height: 100%;
    width: 100%;
    margin: 0 0 -30px 0;
    padding: 50px 0 30px 0;
}

.page.ng-enter {
    position: fixed;
    -webkit-animation: fadeIn 0.5s both ease-in;
    -moz-animation: fadeIn 0.5s both ease-in;
    animation: fadeIn 0.5s both ease-in;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.page.ng-leave {
    position: fixed;
    -webkit-animation: fadeOut 0.5s both ease-in;
    -moz-animation: fadeOut 0.5s both ease-in;
    animation: fadeOut 0.5s both ease-in;   
}

/* navbar styles */
.navbar-default {
    z-index: 9999;
    background-color: #000000;
    border-color: #000000;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background: #FFFFFF;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background: #000000;
}

.navbar-default .dropdown-menu {
    padding: 0;
}
.navbar-default .dropdown-menu li > a,
.navbar-default .dropdown-menu li > a:hover,
.navbar-default .dropdown-menu li > a:focus {
    background: #222222;
    color: #FFFFFF;
}

/* footer styles */
.footer {
    background: #222222;
    color: #FFFFFF;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 1.1em;
}

