<!-- about.html -->
<div class="container text-center">
    <div class="row">
        <div class="col-sm-2 center-block">
            <h1>About Me</h1>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-sm-10 col-sm-offset-2">
        <p>Hello. I'm currently a student at the University of California, Berkeley. I'm a third year majoring in Computer Science.</p>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-sm-10 col-sm-offset-2">
            <p>More blurb about me.</p>
        </div>
    </div>
</div>
