<!-- contact.html -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a class="a-icon" href=""><span class="fa fa-envelope-o contact-icon"></span></a>
            <h3>Mail</h3>
            <p>Email me! I would love to get in touch with you</a>
        </div>
        <div class="col-md-4">
            <a class="a-icon" href="https://github.com/tmochida"><span class="fa fa-github contact-icon"></span></a>
            <h3>Github</h3>
            <p>Here's my <a href="https://github.com/tmochida">GitHub profile</a>. Hopefully more repos and commits will be added in the near future.<p>
        </div>
        <div class="col-md-4">
            <a class="a-icon" href="https://www.linkedin.com/in/takeshimochida"><span class="fa fa-linkedin contact-icon"></span></a>
            <h3>LinkedIn</h3>
            <p>Check me out at my <a href="https://www.linkedin.com/in/takeshimochida">LinkedIn profile</a><p>
        </div>
    </div>
    <div class="text-center">
    </div>
</div>

<div ng-include src="'pages/footer.html'" class="footer"></div>
