<!-- footer.html -->
<div class="container-fluid footer">
    <div class="row footer-icons">
        <a class="a-icon a-footer" href="javascript:;"><span class="fa fa-envelope-o"></span></a>
        <a class="a-icon a-footer" href="https://github.com/tmochida"><span class="fa fa-github"></span></a>
        <a class="a-icon a-footer" href="https://www.linkedin.com/in/takeshimochida"><span class="fa fa-linkedin"></span></a>
    </div>
    <div class="row">
        <hr class="footer-hr" />
        <p>&copy; 2015 Takeshi Mochida</p>
    </div>
</div>
